{% extends 'package/edit_base.html' %}

{% block primary_content_inner %}

    <h2>Existing Relationships</h2>

    {% set existing_relationships = h.get_relationships(pkg_dict['id']) %}

    {% if existing_relationships %}
        <table class="table table-striped">
            <thead>
                <th width="20%">Type</th>
                <th>CKAN Dataset</th>
                <th width="15%">Action</th>
            </thead>
            {% for relationship in existing_relationships %}
            <tr>
                <td>
                    {{ relationship.type }}
                </td>
                <td>
                    <a href="{{ h.url_for('dataset_read', id=relationship.object) }}">{{ relationship.title }}</a>
                </td>
                <td>
                    <a href="{{ h.url_for('relationships.delete', id=pkg_dict['name'], type=relationship.type, object=relationship.object) }}" class="btn btn-danger">Delete linkage</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <h4>There are no existing relationships.</h4>
    {% endif %}

    <h2>Create linkage</h2>

    {% set relatable_datasets = h.get_relatable_datasets(pkg_dict['id']) %}

    {% if relatable_datasets %}

        <form action="/dataset/{{ pkg_dict['name'] }}/relationships/create" method="post">

            <select name="type">
                {% for option in h.get_relationship_types() %}
                    <option value="{{ option[0] }}">{{ option[0] }}</option>
                    <option value="{{ option[1] }}">{{ option[1] }}</option>
                {% endfor %}
            </select>

            <select name="object">
                {% for dataset in relatable_datasets %}
                 <option value="{{ dataset.name }}">
                    {{ dataset.title }}
                 </option>
                {% endfor %}
            </select>

            <input class="btn btn-primary" type="submit" value="Add linkage">

        </form>
    {% else %}
        <h4>There are no other datasets to link to.</h4>
    {% endif %}

{% endblock %}