{% extends 'package/edit_base.html' %}

{% block primary_content_inner %}

    <h2>Existing Relationships</h2>

    {% set existing_relationships = h.get_relationships(pkg_dict['id']) %}

    {% if existing_relationships %}
        <table class="table table-striped">
            <thead>
                <th width="20%">Type</th>
                <th>CKAN Dataset</th>
                <th width="15%">Action</th>
            </thead>
            {% for relationship in existing_relationships %}
            <tr>
                <td>
                    {{ relationship.type }}
                </td>
                <td>
                    {% if relationship.object %}
                        {# Standard CKAN dataset to dataset relationships #}
                        <a href="{{ h.url_for('dataset.read', id=relationship.object) }}">{{ relationship.title }}</a>
                    {% else %}
                        {# Non-standard CKAN dataset to external URI relationships #}
                        <a href="{{ relationship.comment }}" target="_blank">{{ relationship.comment }}</a>
                    {% endif %}
                </td>
                <td>
                    {% if relationship.object %}
                        <a href="{{ h.url_for('relationships.delete', id=pkg_dict['name'], type=relationship.type, rel_by='object', reference=relationship.object) }}" class="btn btn-danger">Delete</a>
                    {% else %}
                        {% set uri = h.quote_uri(relationship.comment) %}
                        <a href="{{ h.url_for('relationships.delete', id=pkg_dict['name'], type=relationship.type, rel_by='uri', reference=uri) }}" class="btn btn-danger">Delete</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <h4>There are no existing relationships.</h4>
    {% endif %}

    <h2>Create relationship</h2>

    <h3>CKAN dataset to dataset relationship</h3>

    {% set relatable_datasets = h.get_relatable_datasets(pkg_dict['id']) %}

    {% if relatable_datasets %}

        <form action="/dataset/{{ pkg_dict['name'] }}/relationships/create" method="post">
            {{ h.csrf_input() }}
            This dataset <select name="type">
                {% for option in h.get_relationship_types() %}
                    <option value="{{ option[0] }}">{{ option[0] }}</option>
                    <option value="{{ option[1] }}">{{ option[1] }}</option>
                {% endfor %}
            </select>

            dataset <select name="object">
                {% for dataset in relatable_datasets %}
                 <option value="{{ dataset.name }}">
                    {{ dataset.title }}
                 </option>
                {% endfor %}
            </select>

            <input class="btn btn-primary" type="submit" value="Add CKAN relationship">

        </form>
    {% else %}
        <h4>There are no other datasets to link to.</h4>
    {% endif %}

    <h3>CKAN dataset to external URI relationship</h3>

    <form action="/dataset/{{ pkg_dict['name'] }}/relationships/create" method="post">
        {{ h.csrf_input() }}
        This dataset <select name="type">
            {% for option in h.get_relationship_types() %}
                <option value="{{ option[0] }}">{{ option[0] }}</option>
                <option value="{{ option[1] }}">{{ option[1] }}</option>
            {% endfor %}
        </select>

        dataset <input type="text" name="uri" />

        <input class="btn btn-primary" type="submit" value="Add URI relationship">

    </form>

{% endblock %}