{% extends 'package/edit_base.html' %}

{% block primary_content_inner %}

    <h2>Existing linkages</h2>

    {% set existing_relationships = h.get_relationships(c.pkg_dict['id']) %}

    {% if existing_relationships %}
        <table class="table table-striped">
            <thead>
                <th width="20%">Type</th>
                <th>CKAN Dataset</th>
                <th width="15%">Action</th>
            </thead>
            {% for relationship in existing_relationships %}
            <tr>
                <td>
                    {{ relationship.type }}
                </td>
                <td>
                    <a href="{{ h.url_for('dataset_read', id=relationship.object) }}">{{ relationship.title }}</a>
                </td>
                <td>
                    <a href="/dataset/{{ c.pkg_dict['name'] }}/relationships/delete/{{ relationship.type }}/{{ relationship.object }}" class="btn btn-danger">Delete linkage</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <h4>There are no existing linkages.</h4>
    {% endif %}

    <h2>Create linkage</h2>

    {% set relatable_datasets = h.get_relatable_datasets(c.pkg_dict['id']) %}

    {% if relatable_datasets %}

        <form action="/dataset/{{ c.pkg_dict['name'] }}/relationships/create" method="post">

            <select name="type">
                 <option value="parent_of">Parent of</option>
                 <option value="child_of">Child of</option>
                 <option value="depends_on">Depends on</option>
                 <option value="dependency_of">Dependency of</option>
                 <option value="derives_from">Derives from</option>
                 <option value="has_derivation">Has derivation</option>
                 <option value="links_to">Links to</option>
                 <option value="linked_from">Linked from</option>
            </select>

            <select name="object">
                {% for dataset in relatable_datasets %}
                 <option value="{{ dataset.name }}">
                    {{ dataset.title }}
                 </option>
                {% endfor %}
            </select>

            <input class="btn btn-primary" type="submit" value="Add linkage">

        </form>
    {% else %}
        <h4>There are no other datasets to link to.</h4>
    {% endif %}

{% endblock %}